body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #F8C296;
  color: #2C365E; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.05rem; }

a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer; }

section {
  width: 100%;
  position: relative; }
  section:first-child {
    padding: 0 0; }

.blue-background {
  background-color: #EBF4FA; }

.dark-blue-background {
  background-color: #2C365E;
  color: #F8C296; }

.navigation {
  position: relative;
  width: 100%;
  z-index: 99;
  margin: 1.5rem 0; }
  .navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: baseline; }
    .navigation ul li {
      margin-right: 3%; }
      .navigation ul li.monogram {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        font-weight: 700; }
      .navigation ul li a {
        color: #2C365E;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        transition: box-shadow 0.2s linear; }
        .navigation ul li a:hover, .navigation ul li a:focus {
          box-shadow: 0 3px 0 0 #2C365E; }

.introduction,
.about,
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
  width: 100%;
  height: 100vh; }
  .introduction h3,
  .about h3,
  .contact-form h3 {
    font-weight: 700;
    font-size: 9rem;
    margin: 0;
    text-shadow: 0 7px rgba(13, 13, 13, 0.3); }
  .introduction .label,
  .about .label,
  .contact-form .label {
    font-weight: 700;
    font-size: 2rem;
    color: #2C365E;
    position: relative; }
    .dark-blue-background .introduction .label, .dark-blue-background
    .about .label, .dark-blue-background
    .contact-form .label {
      color: #F8C296; }
    .introduction .label:before,
    .about .label:before,
    .contact-form .label:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 6px;
      background-image: repeating-linear-gradient(45deg, #2C365E, #2C365E 1px, transparent 1px, transparent 4px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-left: 2px solid #2C365E;
      left: 0;
      bottom: 0;
      background-size: 6px 6px;
      margin-left: -2.35rem; }
      .dark-blue-background .introduction .label:before, .dark-blue-background
      .about .label:before, .dark-blue-background
      .contact-form .label:before {
        border-left: 2px solid #F8C296;
        background-image: repeating-linear-gradient(45deg, #F8C296, #F8C296 1px, transparent 1px, transparent 4px); }

.contact-form {
  display: flex;
  justify-content: center; }
  .contact-form form .control {
    position: relative;
    margin-bottom: 1rem; }
    .contact-form form .control:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      border-bottom: 2px solid #2C365E;
      height: 0; }
    .contact-form form .control:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      pointer-events: none; }
    .contact-form form .control input, .contact-form form .control textarea {
      background: none;
      border: 0;
      height: 2rem;
      box-sizing: content-box;
      padding: 1rem 0;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      color: #2C365E; }
      .contact-form form .control input::placeholder, .contact-form form .control textarea::placeholder {
        color: #2C365E; }
    .contact-form form .control textarea:before {
      border-bottom: 0; }

.web-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 2rem; }
  .web-projects .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #2C365E;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #181E34;
    height: 100%; }
    .web-projects .project img {
      width: 100%; }
    .web-projects .project .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      height: 100%; }

picture {
  display: block;
  position: relative; }
  picture img {
    width: 100%; }

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  position: relative;
  cursor: pointer;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  width: 375px;
  height: 57px;
  font-size: 1.3rem;
  line-height: 24px;
  background-color: transparent;
  text-decoration-color: initial;
  border-color: initial;
  -webkit-tap-highlight-color: transparent; }
  .btn:focus {
    outline-color: 0;
    outline-style: none;
    outline-width: 0; }
  .btn:hover .btn-content-inner:before {
    background-color: rgba(13, 13, 13, 0.1); }
  .btn:before {
    content: " ";
    background-color: rgba(13, 13, 13, 0.3);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    bottom: 0;
    left: 3px;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
    -webkit-transition: background .12s ease-out, -webkit-transform .12s ease-out;
    transition: background .12s ease-out, -webkit-transform .12s ease-out;
    transition: transform .12s ease-out, background .12s ease-out;
    transition: transform .12s ease-out, background .12s ease-out, -webkit-transform .12s ease-out; }
  .btn.btn-left:before {
    -webkit-transform: skewY(1deg) translate3d(0, -0.5px, 0);
    transform: skewY(1deg) translate3d(0, -0.5px, 0); }
  .btn.btn-left .btn-content {
    -webkit-transform: skewY(-1deg);
    transform: skewY(-1deg); }
  .btn.btn-right:before {
    -webkit-transform: skewY(-1deg) translate3d(0, -0.5px, 0);
    transform: skewY(-1deg) translate3d(0, -0.5px, 0); }
  .btn.btn-right .btn-content {
    -webkit-transform: skewY(1deg);
    transform: skewY(1deg); }
  .btn.btn-center:before {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0); }
  .btn.btn-center .btn-content {
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0); }
  .btn .btn-inner {
    display: block;
    height: 100%; }
    .btn .btn-inner .content-wrapper {
      position: relative;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      width: 100%;
      height: calc(100% - 3px);
      margin-top: -3px; }
      .btn .btn-inner .content-wrapper:after, .btn .btn-inner .content-wrapper:before,
      .btn .btn-inner .content-wrapper .btn-content:after,
      .btn .btn-inner .content-wrapper .btn-content:before,
      .btn .btn-inner .content-wrapper .btn-content .btn-content-inner:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      .btn .btn-inner .content-wrapper:before {
        background-color: #181E34;
        content: " ";
        border-radius: 3px;
        top: auto;
        bottom: -3px;
        z-index: 1;
        -webkit-transition: background .185s ease-out, -webkit-transform .185s ease-out;
        transition: background .185s ease-out, -webkit-transform .185s ease-out;
        transition: transform .185s ease-out, background .185s ease-out;
        transition: transform .185s ease-out, background .185s ease-out, -webkit-transform .185s ease-out; }
      .btn .btn-inner .content-wrapper:after {
        background-color: rgba(13, 13, 13, 0.15);
        content: " ";
        border-radius: 3px;
        z-index: 3;
        width: 0;
        top: 2px; }
      .btn .btn-inner .content-wrapper .btn-content {
        background-image: initial;
        background-color: #F8C296;
        border: 2px solid #2C365E;
        color: #2C365E;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 3px;
        text-indent: 0;
        z-index: 3;
        overflow: hidden;
        padding: 0 16px;
        -webkit-transition: border .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out;
        transition: border .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out;
        transition: border .185s ease-out,transform .185s ease-out,background .185s ease-out,color .185s ease-out;
        transition: border .185s ease-out,transform .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out; }
        .btn .btn-inner .content-wrapper .btn-content:before, .btn .btn-inner .content-wrapper .btn-content:after {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: rgba(255, 255, 255, 0.8);
          opacity: 0;
          -webkit-transition: opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s;
          transition: opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s;
          transition: transform .185s ease-out .05s, opacity .1125s ease-out .05s;
          transition: transform .185s ease-out .05s, opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s; }
        .btn .btn-inner .content-wrapper .btn-content:before {
          content: " ";
          -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0); }
        .btn .btn-inner .content-wrapper .btn-content:after {
          content: " ";
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0); }
        .btn .btn-inner .content-wrapper .btn-content:hover, .btn .btn-inner .content-wrapper .btn-content:focus {
          background-color: #2C365E;
          color: #F8C296; }
        .btn .btn-inner .content-wrapper .btn-content .btn-content-inner {
          display: block;
          -webkit-transition: opacity 75ms ease-out .1125s;
          transition: opacity 75ms ease-out .1125s;
          font-size: 1.2rem; }
          .btn .btn-inner .content-wrapper .btn-content .btn-content-inner:before {
            content: attr(label);
            padding-top: 9.5px;
            font-size: .8em;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            letter-spacing: .06em;
            -webkit-transition: opacity .3s ease-out, background-color .1125s ease-in;
            transition: opacity .3s ease-out, background-color .1125s ease-in;
            opacity: 1;
            z-index: -1; }
