body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	font-family: 'Roboto', sans-serif;
	background-color:#F8C296;
	color: #2C365E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

button {
	color: #fff;
	border: 3px solid #fff;
	padding: 1em;
	background: linear-gradient(-45deg, #F20D4A, #FF7B0E, #168ACE, #226765);
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	background-size: 400%;
	border-radius: 50px;
	font-size: 1em;
	transition: all 0.3s ease;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 0.05rem;
}

a:hover,
a:focus {
	text-decoration: none;
}

.navigation {
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		align-items: baseline;

		li {
			margin-right: 3%;
			&.monogram {
				font-family: 'Roboto', sans-serif;
				font-size: 1.5em;
				font-weight: 700;
			}

			a {
				color: #2C365E;
				text-decoration: none;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				transition: box-shadow 0.2s linear;
				&:hover,
				&:focus {
					box-shadow: 0 3px 0 0 #2C365E;
				}
			}
		}
	}
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 100vw;
	height: 100vh;

	h3 {
		font-weight: 700;
		font-size: 9rem;
		margin: 0;
	}
	p {
		font-weight: 400;
		font-size: 7rem;
		color: #2C365E;
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		font-size: 2em;
	}
}

.web-grid {
	display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
	justify-content: center;
}

picture {
	display: block;
	position: relative;

	img {
		width: 100%;
	}
}

.description {

}
