$navy: #2C365E;
$darker-navy: #181E34;
$light-blue: #EBF4FA;
$peachy-orange: #F8C296;
$white: #FFF;
$black: #000;

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: auto;
  font-family: 'Archivo Black', sans-serif;
  font-size: 16px;
	background-color: $peachy-orange;
	color: $navy;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

h2 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
}

a {
  color: $navy;
  text-decoration: none;
  font-weight: 700;
  transition: box-shadow 0.2s linear;

  .btn & {
    &:hover,
    &:focus {
      color: red !important
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 3px 0 0 $navy;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  background-color: transparent;
	color: $white;
	border: 3px solid $white;
	padding: 1em;
	font-size: 1em;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 0.05rem;
}

picture {
	display: block;
	position: relative;
}

img {
  width: 100%;
}

input, textarea {
  background: none;
  border: 0;
  height: 2rem;
  box-sizing: content-box;
  padding: 1rem 0;
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $navy;
  width: 100%;

  &::placeholder {
    color: $navy;
  }
}

textarea {
  &:before {
    border-bottom: 0;
  }
}

section {
  width: 100%;
  position: relative;

  &:first-child {
    padding: 0 0; 
  }
}

.blue-background {
  background-color: $light-blue;
}

.dark-blue-background {
  background-color: $navy;
  color: $peachy-orange;
}

.navigation {
  position: relative;
  width: 100%;
  z-index: 99;
  margin: 1.5rem 0;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		align-items: baseline;

		li {
      margin-right: 3%;
      font-family: 'Open Sans Condensed', sans-serif;

			&.monogram {
				font-family: 'Archivo Black'
			}
		}
	}
}

.decorator {
  font-weight: 700;
  font-size: 2rem;
  color: $navy;
  position: relative;

  .dark-blue-background & {
    color: $peachy-orange;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 6px;
    background-image: repeating-linear-gradient(45deg, $navy, $navy 1px, transparent 1px, transparent 4px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-left: 2px solid $navy;
    left: 0;
    bottom: 0;
    background-size: 6px 6px;
    margin-left: -2.35rem;

    .dark-blue-background & {
      border-left: 2px solid #F8C296;
      background-image: repeating-linear-gradient(45deg,$peachy-orange,$peachy-orange 1px, transparent 1px, transparent 4px);
    }
  }
}

.introduction,
.about,
.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 0;
  justify-content: center;
  width: 100%;
  height: 100vh;

	h1 {
    margin: 0;
	}
}

.contact-form {
  display: flex;
  justify-content: center;

  form {
    .control {
      position: relative;
      margin-bottom: 1rem;

      &:before {
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        position: absolute;
        border-bottom: 2px solid $navy;
        height: 0;
      }
    
      &:after {
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        pointer-events: none;
      }
    }
  }
}

.web-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5rem;
  
  .project {
    border: 1px solid $navy;
    border-radius: 3px;
    box-shadow: 1px 1px 2px $darker-navy;
    height: 100%;
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      flex: 0 1 calc(100% - 1rem);
    }

    @media screen and (min-width: 769px) and (max-width: 1059px) {
      flex: 0 1 calc(50% - 1rem);
    }

    @media screen and (min-width: 1060px) {
      flex: 0 1 calc(33% - 1rem);
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 2rem 2rem 2rem;
      height: 100%;

      .btn {
        width: 12em;
      }
    }
  }
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  position: relative;
  cursor: pointer;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  width: 375px;
  height: 57px;
  font-size: 1.3rem;
  line-height: 24px;
  background-color: transparent;
  text-decoration-color: initial;
  border-color: initial;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline-color: 0;
    outline-style: none;
    outline-width: 0;
  }

  &:hover {
    .btn-content-inner:before {
      background-color: rgba(13,13,13,.1);
    }
  }

  &:before {
    content: " ";
    background-color: rgba(13, 13, 13, .3);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    bottom: 0;
    left: 3px;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
    -webkit-transition: background .12s ease-out, -webkit-transform .12s ease-out;
    transition: background .12s ease-out, -webkit-transform .12s ease-out;
    transition: transform .12s ease-out, background .12s ease-out;
    transition: transform .12s ease-out, background .12s ease-out, -webkit-transform .12s ease-out;
  }

  &.btn-left {
    &:before {
      -webkit-transform: skewY(1deg) translate3d(0,-.5px,0);
      transform: skewY(1deg) translate3d(0,-.5px,0);
    }

    .btn-content {
      -webkit-transform: skewY(-1deg);
      transform: skewY(-1deg);
    }
  }

  &.btn-right {
    &:before {
      -webkit-transform: skewY(-1deg) translate3d(0,-.5px,0);
      transform: skewY(-1deg) translate3d(0,-.5px,0);
    }

    .btn-content {
      -webkit-transform: skewY(1deg);
      transform: skewY(1deg);
    }
  }

  &.btn-center {
    &:before {
      -webkit-transform: translate3d(0,-1px,0);
      transform: translate3d(0,-1px,0);
    }

    .btn-content {
      -webkit-transform: translate3d(0,1px,0);
      transform: translate3d(0,1px,0);
    }
  }
  
  .btn-inner {
    display: block;
    height: 100%;

    .content-wrapper {
      position: relative;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      width: 100%;
      height: calc(100% - 3px);
      margin-top: -3px;

      &:after, &:before, 
      & .btn-content:after, 
      & .btn-content:before, 
      & .btn-content .btn-content-inner:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &:before {
        background-color: $darker-navy;
        content: " ";
        border-radius: 3px;
        top: auto;
        bottom: -3px;
        z-index: 1;
        -webkit-transition: background .185s ease-out, -webkit-transform .185s ease-out;
        transition: background .185s ease-out, -webkit-transform .185s ease-out;
        transition: transform .185s ease-out, background .185s ease-out;
        transition: transform .185s ease-out, background .185s ease-out, -webkit-transform .185s ease-out;
      }

      &:after {
        background-color: rgba(13, 13, 13, 0.15);
        content: " ";
        border-radius: 3px;
        z-index: 3;
        width: 0;
        top: 2px;
      }

      .btn-content {
        background-image: initial;
        background-color: $peachy-orange;
        border: 2px solid $navy;
        color: $navy;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 3px;
        text-indent: 0;
        z-index: 3;
        overflow: hidden;
        padding: 0 16px;
        -webkit-transition: border .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out;
        transition: border .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out;
        transition: border .185s ease-out,transform .185s ease-out,background .185s ease-out,color .185s ease-out;
        transition: border .185s ease-out,transform .185s ease-out,background .185s ease-out,color .185s ease-out,-webkit-transform .185s ease-out;
        
        &:before, &:after {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: rgba(255,255,255,.8);
          opacity: 0;
          -webkit-transition: opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s;
          transition: opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s;
          transition: transform .185s ease-out .05s, opacity .1125s ease-out .05s;
          transition: transform .185s ease-out .05s, opacity .1125s ease-out .05s, -webkit-transform .185s ease-out .05s;
        }

        &:before {
          content: " ";
          -webkit-transform: translate3d(0,50%,0);
          transform: translate3d(0,50%,0);
        }

        &:after {
          content: " ";
          -webkit-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
        }
        
        &:hover,
        &:focus {
          background-color: $navy;
          color: $peachy-orange;
        }

        .btn-content-inner {
          display: block;
          -webkit-transition: opacity 75ms ease-out .1125s;
          transition: opacity 75ms ease-out .1125s;
          font-size: 1.2rem;

          &:before {
            content: attr(label);
            padding-top: 9.5px;
            font-size: .8em;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 700;
            letter-spacing: .06em;
            -webkit-transition: opacity .3s ease-out, background-color .1125s ease-in;
            transition: opacity .3s ease-out, background-color .1125s ease-in;
            opacity: 1;
            z-index: -1;
          }
        }
      }
    }
  }
}


